*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

html,body{
  height: 100%;
}

@font-face{
	src:url('../fonts/OpenSans-Light.ttf');
	font-family: "Open Sans";
}

.center{
  padding: 0 2%;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

.clear{clear: both;}

header{
  background: #212343;
  padding: 15px;
  width: 100%;
}

header .center img{
  margin-bottom: 5px;
}

/* SECTION 1 */

#section1{
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
}

#section1 .center{
  height: 100%;
}

#section1 .float-left{
  background-color: rgba(33,35,67,0.7);
  width: 40%;
  max-width: 530px;
  height: 100%;
  padding: 40px 30px;
  float: left;
  margin-top: 100px;
}

#section1 .float-left ul{
  list-style-position: inside;
  color: white;
  margin-top: 10px;
}

#section1 .float-left ul li{
  margin-bottom: 20px;
}

#section1 .formulario{
  width: 100%;
  max-width: 400px;
  position: relative;
  top: -15px;
  background-color: white;
  background-clip: padding-box;
  border: 12px solid rgba(120,120,120,0.5);
  float: right;
}

#section1 .formulario form{
  padding: 10px;
}

#section1 .formulario form h2{
  font-size: 21px;
  font-weight: normal;
  color: #999999;
}

#section1 .formulario form .w100{
  width: 100%;
  margin-top: 20px;
}

#section1 .formulario form .w100 input{
  margin-top: 10px;
  width: 100%;
  padding: 15px 5px;
  border: 1px solid #ccc;
  outline: none;
}

#section1 .formulario form .w100 label{
  color: #BBBBBB;
}

#section1 .formulario form p{
  color: #BBBBBB;
  margin: 20px 0;
}

#section1 .formulario form .submit{
  width: 100%;
}

#section1 .formulario form .submit input{
  border-bottom: 5px solid #4A5097;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: #363A6D;
  height: 56px;
  cursor: pointer;
  width: 100%;
  max-width: 280px;
  color: white;
  text-align: center;
  font-size: 25px;
  margin: 0 38px;
}

#section1 .formulario form .submit input:hover{
  background-color: #1e225e;
}

/* SECTION 2 */

#section2{
  padding: 40px 0;
  background-color: #ddd;
  text-align: center;
  width: 100%;
  position: relative;
}

#section2 .center h1{
  font-weight: normal;
  margin-bottom: 15px;
}

#section2 .center{
  padding: 0 20%;
}

#section2 .center p{
  text-align: justify;
  display: block;
  margin-bottom: 50px;
}

#section2 .center .arrow{
  position: absolute;
  width: 40px;
  left: 50%;
  bottom: -20px;
  transform: translate(-50%);
}

/* SECTION 3 */

#section3{
  text-align: center;
  padding: 80px 20px;
  width: 100%;
}

#section3 h1{
  color: #462663;
  font-weight: normal;
  margin-bottom: 70px;
}

#section3 .flex .box{
  width: 33.3%;
  padding: 0 30px;
}

#section3 .flex .box h1{
  margin-bottom: 10px;
}

#section3 .flex .box p{
  text-align: justify;
}

/* FOOTER */

footer{
  border-top: 2px solid #888888;
  color: #888;
  text-align: center;
  padding: 20px 0;
}

footer p{
  margin-top: 8px;
}

/* RESPONSIVO */

@media screen and (max-width: 800px){

  header{
    text-align: center;
  }

  #section1 .center{
    padding-top: 50px;
    padding-bottom: 30px;
  }

  #section1 .float-left{
    float: none;
    width: 90%;
    margin: 0 auto;
  }

  #section1 .formulario{
   width: 100%;
   float: none; 
   position: initial;
   margin: 30px  auto 0 auto;
  }

  #section2 .center{
    padding: 0 10%;
  }

  #section3 .flex .box{
    width: 100%;
    margin-top: 50px;
  }
}